In [2]:
import pandas as pd
import numpy as np
import pickle

# Get risk free rates implied by KR

In [3]:
dir_y = '../yield_panel_daily_frequency_daily_maturity.csv'
y_KR = pd.read_csv(dir_y, index_col = 0)
y_KR.drop(columns=['MAX_DATA_TTM'], inplace=True)

Nmax = y_KR.shape[1]
g_KR = np.exp(-y_KR*np.arange(1,Nmax+1)/365)
df_kr = (1/g_KR['1']-1).to_frame(name='KR_LS')

In [5]:
g_KR.shape

y = pd.read_csv(dir_y)
y.head()

,Unnamed: 0,MAX_DATA_TTM,1,2,3,4,5,6,7,8,...,10941,10942,10943,10944,10945,10946,10947,10948,10949,10950
0,1961-06-14,2527,0.022483,0.022484,0.022486,0.022487,0.022489,0.022491,0.022493,0.022496,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1961-06-15,2526,0.022539,0.022540,0.022541,0.022542,0.022544,0.022546,0.022548,0.022551,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1961-06-16,2525,0.022413,0.022414,0.022415,0.022417,0.022418,0.022420,0.022423,0.022425,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1961-06-19,2522,0.022606,0.022607,0.022608,0.022610,0.022612,0.022614,0.022616,0.022618,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1961-06-20,2521,0.022430,0.022431,0.022432,0.022433,0.022435,0.022437,0.022440,0.022442,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_kr.shape

(15539, 1)

# Save

In [8]:
df_kr.to_pickle('./df_riskfree_daily_all.pkl')
g_KR.to_pickle('./df_kr_g.pkl')